
<table datatable  class="table row-border hover" *ngIf="this.temp" [dtOptions]="dtOptions">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Eamil</th>
        <th scope="col">Address</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let item of collection">
        <th>{{item.id}}</th>
        <td>{{item.name}}</td>
        <td>{{item.email}}</td>
        <td>{{item.address}}</td>
        <td><a class="text-danger" (click)= 'deleteResto(item.id)'>Delete</a><br>
          <a routerLink = "/update/{{item.id}}" class="text-info">Edit</a></td>
      </tr>
    </tbody>
  </table>
